@model IEnumerable<MyApplication1.Models.Avaliacao>

@{
    ViewBag.Title = "AvaliacaoHome";
}

<h2>Avaliacao</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="main" class="container-fluid">
    <h3 class="page-header">Template Inicial</h3>
</div>