@{
    ViewBag.Title = "Perfil";
}
<h2>Perfil</h2>

<p>
    @Html.ActionLink("Create New", "PerfilCreate")
</p>
<div id="main" class="container-fluid">
    <h3 class="page-header">Template Inicial</h3>
</div>