@model MyApplication1.Models.Pergunta

@{
    ViewBag.Title = "PerguntaHome";
}

<h2>Pergunta</h2>

<p>
    @Html.ActionLink("Create New", "PerguntaCreate")
</p>
<div id="main" class="container-fluid">
    <h3 class="page-header">Template Inicial</h3>
</div>

