@model IEnumerable<MyApplication1.Models.TipoResposta>

@{
    ViewBag.Title = "TipoRespostaHome";
}

<h2>TipoResposta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="main" class="container-fluid">
    <h3 class="page-header">Template Inicial</h3>
</div>