@model MyApplication1.Models.Usuario

@{
    ViewBag.Title = "UsuarioHome";
}

<h2>Usuário</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="main" class="container-fluid">
    <h3 class="page-header">Template Inicial</h3>
</div>

