
@{
    ViewBag.Title = "AnswerNotId";
}

@*<h2>AnswerNotId</h2>*@

<p></p>

<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Não existe avaliação para o Id passado!
</div>


<div>
    <h3>Favor, entre em contato com o administrador do sistema.</h3>

</div>

<div>
    <p>
        @*<button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>*@
    </p>
</div>

