
@{
    ViewBag.Title = "AnswerSucess";
}

@*<h2>AnswerSucess</h2>*@


<p></p>

<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Sua avaliação foi enviada com sucesso!
</div>


<div>
    <h3>Obrigado por sua opnião, ela é muita importante para que possamos continuar melhorando nossa instituição. </h3>

</div>

<div>
    <p>
        @*<button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>*@
    </p>
</div>