@model FaculdadeSI.Models.Avaliacao

@{
    ViewBag.Title = "SendedEmail";
}

<h2>Avaliação enviada!</h2>

<div>
    
     <dl class="dl-horizontal">

              <dd>
                  @Html.Label("Lista de e-mails enviados:")
              </dd>
              
            @foreach (var item in ViewBag.Emails)
            {
             <dd>
                    @item.Text
            </dd>
                                   
              
            }
     </dl>

</div>

<div>
    <p>
        <button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>
   </p>
</div>

