
@{
    ViewBag.Title = "Sent";
}

<p></p>

<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    A avaliação foi enviada para todos usuários que possuem o perfil informado!
</div>


<div>
    
     <dl class="dl-horizontal">

              <dd>
                  @Html.Label("Lista de e-mails enviados:")
              </dd>
              
            @foreach (var item in ViewBag.Emails)
            {
             <dd>
                    @item.Text
            </dd>
                                   
              
            }
     </dl>

</div>

<div>
    <p>
        <button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>
   </p>
</div>

